---
title: API reference
weight: 50
---

<%= partial 'documentation/partials/google_tag_manager_js' %>


# API reference

<div class="govuk-inset-text">
This API is in Beta and may have breaking changes.
</div>

This section details the APIs exposed in TGP and their specification.

## Authentication and Authorisation

Learn about the user-restricted [authentication][USER_AUTH] used by the API.

HMRC supports OAuth 2.0 for authenticating user restricted API requests using an OAuth 2.0 Bearer Token in the AUTHORIZATION header. Find out more about [Authorisation][AUTHORISATION].

Flow type: authorizationCode

Authorization URL: <https://api.service.hmrc.gov.uk/oauth/authorize>

Token URL: <https://api.service.hmrc.gov.uk/oauth/token>

Refresh URL: <https://api.service.hmrc.gov.uk/oauth/refresh>

Required scopes: trader-goods-profiles

Learn more about the [Trader Goods Profile API endpoints][API_SPEC].

## Trader Goods Profile stubs

Below are a list of EORI numbers that can be swapped out to get various different results with these stubs.

### Create Record Stubs

Replace `{eori}` in the URL with the values specified in the table below to simulate different scenarios and receive the corresponding responses.

```
POST https://<host>/customs/traders/goods-profiles/{eori}/records
```

| EORI to provide | Expected response         | Status code |
|-----------------|---------------------------|-------------|
| GB123456789001  | Created                   | 201         |
| GB123456789002  | Invalid request parameter | 400         |
| GB123456789003  | Invalid payload           | 400         |
| GB123456789004  | Invalid request parameter | 400         |
| GB123456789005  | Not found                 | 404         |
| GB123456789006  | Invalid method            | 405         |
| GB123456789007  | Internal server error     | 500         |
| GB123456789008  | Internal server error     | 500         |
| GB123456789009  | Internal server error     | 500         |
| GB123456789010  | Internal server error     | 500         |

#### Example request

```json
{
  "actorId": "GB098765432112",
  "traderRef": "BAN001001",
  "comcode": "10410100",
  "goodsDescription": "Organic bananas",
  "countryOfOrigin": "EC",
  "category": 1,
  "assessments": [
    {
      "assessmentId": "8ce911dcd4911c785a4d886919c74485",
      "primaryCategory": 1,
      "condition": {
        "type": "abc123",
        "conditionId": "Y923",
        "conditionDescription": "Products not considered as waste according to Regulation (EC) No 1013/2006 as retained in UK law",
        "conditionTraderText": "Excluded product"
      }
    }
  ],
  "supplementaryUnit": 500,
  "measurementUnit": "Square metre (m²)",
  "comcodeEffectiveFromDate": "2024-11-18T23:20:19Z",
  "comcodeEffectiveToDate": "2024-11-18T23:20:19Z"
}
```

### Get Record Stubs

Replace `{eori}` in the URL with the values specified in the table below to simulate different scenarios and receive the corresponding responses.

```
GET https://<host>/customs/traders/goods-profiles/{eori}/records
```

PAGINATION URL

```
GET https://<host>/customs/traders/goods-profiles/{eori}/records?lastUpdatedDate=2024-03-26T16:14:52Z&page=1&size=5
```

| EORI to provide | Expected response         | Status code |
|-----------------|---------------------------|-------------|
| GB123456789001  | OK                        | 200         |
| GB123456789003  | OK                        | 200         |
| GB123456789004  | OK                        | 200         |
| GB123456789006  | Internal server error     | 500         |
| GB123456789007  | Not found                 | 404         |
| GB123456789008  | Method not allowed        | 405         |

### Get Single Record Stub

Replace `{eori}` and `{recordId}` in the URL with the values specified in the table below to simulate different scenarios and receive the corresponding responses.

```
GET https://<host>/customs/traders/goods-profiles/{eori}/records/{recordId}
```

| EORI to provide | Record Id to provide                 | Expected Response       | Status Code      |
|-----------------|--------------------------------------|-------------------------|------------------|
| GB123456789001  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Successful retrieval    | 200              |
| GB123456789002  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Record not found        | 404              |
| GB123456789003  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Invalid recordId format | 400              |
| GB123456789004  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Invalid URL             | 404              |
| GB123456789005  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Method not allowed      | 405              |
| GB123456789006  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | Internal server error   | 500              |_

### Remove Record Stub

Replace `{eori}` and `{recordId}` in the URL with the values specified in the table below to simulate different scenarios and receive the corresponding responses.

```
PUT https://<host>/customs/traders/goods-profiles/{eori}/records/{recordId}
```

| EORI to provide | Record Id to provide                 | Actor Id to provide | Expected Response                    | Status Code      |
|-----------------|--------------------------------------|---------------------|--------------------------------------|------------------|
| GB123456789001  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Successful removal                   | 200              |
| GB123456789002  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Invalid request parameter (eori)     | 400              |
| GB123456789003  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Invalid request parameter (recordId) | 400              |
| GB123456789004  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Invalid request parameter (actorId)  | 400              |
| GB123456789005  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Internal server error                | 500              |
| GB123456789006  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Invalid URL                          | 404              |
| GB123456789007  | 8ebb6b04-6ab0-4fe2-ad62-e6389a8a204f | GB098765432112      | Method not allowed                   | 405              |

#### Example request payload

```json
{
  "actorId": "GB098765432112"
}
```

[USER_AUTH]: </api-documentation/docs/authorisation/user-restricted-endpoints>
[AUTHORISATION]: </api-documentation/docs/authorisation>
[API_SPEC]: </api-documentation/docs/api/service/trader-goods-profiles/1.0/oas/page>
