---
title: Errors
weight: 60
---

# Errors

<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes.
</div>

TGP APIs use standard HTTP status codes to show whether an API request succeeded or not.

They are usually in the range:

<table>
  <tr>
    <th>SL &num;</th>
    <th>Range</th>
    <th>Scenario</th>
  </tr>
  <tr>
    <td>1</td>
    <td>200 to 299</td>
    <td>Request succeeded, including code 202 if it was accepted by an API that needs to wait for further action</td>
  </tr>
  <tr>
    <td>2</td>
    <td>400 to 499</td>
    <td> Request failed because of a client error by your application</td>
  </tr>
  <tr>
    <td>3</td>
    <td>500 to 599</td>
    <td>Request failed because of an error on our server</td>
   </tr>
</table>

Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide][REFERENCE_GUIDE_ERRORS]
for more on errors.

## Sample error structures

All errors from TGP Digital will return a JSON map with two keys: "code" and "message".

### Example error response
```json
{
  "code": "BAD_REQUEST",
  "message": "Bad request",
  "errors": [
    {
      "code": "005",
      "message": "Missing or Invalid Header"
    }
  ]
}
```

### Example error response with multiple errors
```json
{
  "code": "BAD_REQUEST",
  "message": "Bad request",
  "errors": [
    {
      "code": "005",
      "message": "Missing or Invalid Header"
    },
    {
      "code": "011",
      "message": "Missing or invalid mandatory request parameter"
    }
  ]
}
```

## List of possible 400 Bad Request error codes

<table>
  <tr>
    <th>Error Code</th>
    <th>Field Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>000</td>
    <td>N/A</td>
    <td>JSON body doesn’t match the schema</td>
  </tr>
  <tr>
    <td>001</td>
    <td>X-Correlation-ID</td>
    <td>X-Correlation-ID was missing from Header or is in the wrong format</td>
  </tr>
  <tr>
    <td>002</td>
    <td>Date</td>
    <td>Date was missing from Header or is in the wrong format</td>
  </tr>
  <tr>
    <td>003</td>
    <td>Content-Type</td>
    <td>Content-Type was missing from Header or is in the wrong format</td>
  </tr>
  <tr>
    <td>004</td>
    <td>Accept</td>
    <td>Accept was missing from Header or wrong format</td>
  </tr>
  <tr>
    <td>005</td>
    <td>X-Forwarded-Host</td>
    <td>X-Forwarded-Host was missing from Header or wrong format</td>
  </tr>
  <tr>
    <td>006</td>
    <td>eori</td>
    <td>Mandatory field eori was missing from body</td>
  </tr>
  <tr>
    <td>007</td>
    <td>eori</td>
    <td>EORI number does not have a TGP</td>
  </tr>
  <tr>
    <td>008</td>
    <td>actorId</td>
    <td>Mandatory field actorId was missing from body</td>
  </tr>
  <tr>
    <td>009</td>
    <td>traderRef</td>
    <td>Mandatory field traderRef was missing from body</td>
  </tr>
  <tr>
    <td>010</td>
    <td>traderRef</td>
    <td>Trying to create or update a record with a duplicate traderRef</td>
  </tr>
  <tr>
    <td>011</td>
    <td>comcode</td>
    <td>Mandatory field comcode was missing from body</td>
  </tr>
  <tr>
    <td>012</td>
    <td>goodsDescription</td>
    <td>Mandatory field goodsDescription was missing from body</td>
  </tr>
  <tr>
    <td>013</td>
    <td>countryOfOrigin</td>
    <td>Mandatory field countryOfOrigin was missing from body</td>
  </tr>
  <tr>
    <td>014</td>
    <td>category</td>
    <td>Mandatory field category was missing from body</td>
  </tr>
  <tr>
    <td>015</td>
    <td>assessments[].assessmentId</td>
    <td>Optional field assessmentId is in the wrong format</td>
  </tr>
  <tr>
    <td>016</td>
    <td>assessments[].primaryCategory</td>
    <td>Optional field primaryCategory is in the wrong format</td>
  </tr>
  <tr>
    <td>017</td>
    <td>assessments[].primaryCategory.condition.type</td>
    <td>Optional field type is in the wrong format</td>
  </tr>
  <tr>
    <td>018</td>
    <td>assessments[].primaryCategory.condition.conditionId</td>
    <td>Optional field conditionId is in the wrong format</td>
  </tr>
  <tr>
    <td>019</td>
    <td>assessments[].primaryCategory.condition.conditionDescription</td>
    <td>Optional field conditionDescription is in the wrong format</td>
  </tr>
  <tr>
    <td>020</td>
    <td>assessments[].primaryCategory.condition.conditionTraderText</td>
    <td>Optional field conditionTraderText is in the wrong format</td>
  </tr>
  <tr>
    <td>021</td>
    <td>supplementaryUnit</td>
    <td>Optional field supplementaryUnit is in the wrong format</td>
  </tr>
  <tr>
    <td>022</td>
    <td>measurementUnit</td>
    <td>Optional field measurementUnit is in the wrong format</td>
  </tr>
  <tr>
    <td>023</td>
    <td>comcodeEffectiveFromDate</td>
    <td>Mandatory field comcodeEffectiveFromDate was missing from body</td>
  </tr>
  <tr>
    <td>024</td>
    <td>comcodeEffectiveToDate</td>
    <td>Optional field comcodeEffectiveToDate is in the wrong format</td>
  </tr>
  <tr>
    <td>025</td>
    <td>recordId</td>
    <td>The recordId has been provided in the wrong format</td>
  </tr>
  <tr>
    <td>026</td>
    <td>recordId</td>
    <td>The requested recordId to update doesn’t exist</td>
  </tr>
  <tr>
    <td>027</td>
    <td>accreditationStatus</td>
    <td>There is an ongoing accreditation request and the record can not be updated</td>
  </tr>
  <tr>
    <td>028</td>
    <td>lastUpdatedDate</td>
    <td>The URL parameter lastUpdatedDate is in the wrong format</td>
  </tr>
  <tr>
    <td>029</td>
    <td>page</td>
    <td>The URL parameter page is in the wrong format</td>
  </tr>
  <tr>
    <td>030</td>
    <td>size</td>
    <td>The URL parameter size is in the wrong format</td>
  </tr>
  <tr>
    <td>031</td>
    <td>active</td>
    <td>This record has been removed and cannot be updated</td>
  </tr>
</table>

[REFERENCE_GUIDE_ERRORS]: </api-documentation/docs/reference-guide#errors>
