---
title: Getting started
weight: 20
---

# Get started

<p style="color:red">Note: All content in this page are work in progress and are evolving</p>
## Developer Setup
 <p>To develop using these APIs you must:</p>

 <ul>
 <li>  be familiar with HTTP, RESTful services, XML and OAuth2</li>
 <li>  be registered as a developer on the <a href="/" rel="noopener noreferrer">HMRC Developer Hub</a></li>
 <li>  add at least one sandbox application on the Developer Hub</li>
 </ul>
 <p>Each application you register will be assigned an HMRC ‘ApplicationId’.</p>
 <p>You can view all the applications you have registered on the <a href="/developer/applications" rel="noopener noreferrer">Developer Hub Applications page</a>, where you can administer things like API subscriptions and <a href="/api-documentation/docs/authorisation/credentials" rel="noopener noreferrer">application credentials</a>.</p>
 <p>Applications can be created in one of two possible environments:</p>

 <ul>
 <li>sandbox environments - where you start development and testing of your software</li>
 <li>production environment - when you are ready to go live, you can request &lsquo;production credentials&rsquo; that will create you a new application (with a new ‘ApplicationId’) in the production environment</li>
 </ul>
 <p>The main differences between these two environments are that in the sandbox environments you will <a href="/api-documentation/docs/testing/test-users-test-data-stateful-behaviour" rel="noopener noreferrer">create and use test users</a> to call the endpoints, and the release versions of TGP APIs in the sandbox will generally be ahead of those in production.</p>
 <p><a href="/api-documentation/docs/testing" rel="noopener noreferrer">More details about getting started using the sandbox environments.</a></p>



