---
title: Getting started
weight: 30
---

# Getting started

<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes.
</div>

To develop using these APIs you must:

- be familiar with HTTP, RESTful services and OAuth2
- be registered as a developer on the [HMRC Developer Hub](\/)
- add at least one sandbox application on the Developer Hub

Each application you register will be assigned an HMRC ‘ApplicationId’.

You can access all the applications you have registered on [Developer Hub Applications](/developer/applications).&nbsp;There, you can administer things like API subscriptions and [application credentials](/api-documentation/docs/authorisation/credentials).

### Sandbox environment

Sandbox environments are for starting development and testing of software. The sandbox environment with 'create and use', tests users to call the end points.

### Production environment

Production environments are for when you&apos;re ready to go live. You can request 'production credentials' that will create a new application. This will give a new 'ApplicationId' in the production environment.

The release versions of the API in the sandbox will be ahead of those in production.

Find more details about [getting started using the sandbox environments.](/api-documentation/docs/testing)

## Before you start

1. Ensure that you have an HMRC [developer account](https://developer.service.hmrc.gov.uk/developer/login) - if you do not have one, you must [register for an account](https://developer.service.hmrc.gov.uk/developer/registration).
2. Add your subscription to this API to your application.
3. Learn about the user-restricted [authentication](https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints) used by the API.
4. [Create an application](https://developer.service.hmrc.gov.uk/developer/applications/) in our sandbox environment.
5. Use the [Create Test User API](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/api-platform-test-user/1.0) to create one or more test users for your sandbox application.
6. Read the [testing guide](https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase4-testing-guide/) to check that your software is compatible with this version of the API and to learn how to test your application in the sandbox environment.
