---
title: Register for TGP
weight: 20
---

# Register for TGP

<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes.
</div>

To use Trader Goods Profile (TGP), the trader responsible for moving the goods must have a registered account with HMRC.
TGP is part of the Customs Declaration Service (CDS) so traders must be subscribed to CDS.

## Before you start

As a software provider, you should share the following guidance with people who use your software, for example traders.

This will let them register for a Government Gateway or user ID that will allow them to access the TGP using your
software.

> #### Prerequisites to registering for the service
> Your business needs a Government Gateway or One Login user ID and password to register for Customs Declaration
> Service. If your business does not have a user ID that it can use for customs services,
> you can [create one](https://www.gov.uk/log-in-register-hmrc-online-services/register).
>
> Your business will also need a valid GB or XI EORI number. This needs to be linked to your Government Gateway user ID.
>
> * If your business does not already have a GB or XI EORI you will be taken through the steps to get one
> when [registering for CDS](https://www.gov.uk/guidance/get-access-to-the-customs-declaration-service).
> Your new GB or XI EORI will then be linked to the Government Gateway user ID you used during registration.
>
> #### Registering your account to use Trader Goods Profile
> Your business must register online for the Customs Declaration Service before it can use the TGP API.
>
> The registration must use the Government Gateway or One Login user ID used in the prerequisites listed.
>
> When you register, the service will check if your Government Gateway or One Login user ID has a linked GB or XI EORI.

## Authority for your software to act on behalf of your users

All endpoints in the Trader Goods Profile API are user-restricted. Your users must grant authority for your software
to access it by signing in using the Government Gateway or One Login user ID that has been registered for the service.

See the [Developer Hub Authorisation documentation](https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints) for how users grant authority to your software.
