---
title: User journeys
weight: 40
---

# User journeys

<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes.
</div>

## Creating a TGP record

Traders can use your software to add new goods records to their Trader Goods Profile using the [Create a goods record](https://developer.qa.tax.service.gov.uk/api-documentation/docs/api/service/trader-goods-profiles/1.0/oas/page#tag/Goods-records/operation/createTraderGoodsProfileRecord) endpoint.

This will show an example journey for a user adding a goods record to their TGP.

## 1\. Goods descriptions

The trader will provide a goods description. The goods description can be a term that is familiar to the trader.

The trader can then enter a trader reference. This must be unique to the trader’s TGP. For example, a stock keeping unit (SKU).

## 2\. Commodity code

The trader will then provide a commodity code. This can be six digits for some goods. If the goods are category 1 or 2, the commodity code may need to be 8 or 10 digits.

The commodity code can be validated using the [Trade tariff commodities API](https://api.trade-tariff.service.gov.uk/the-commodities-api.html). Your software can also retrieve the date the commodity code is valid from, and to. You should also retrieve a [measurement unit](https://api.trade-tariff.service.gov.uk/the-commodities-api.html#units-and-measure-components) if required for the commodity.

## 3\. Country of origin

The trader will provide the country of origin of the goods. They can also provide an optional movement date for the goods.

If the trader does not provide a movement date, you should consider this to be today’s date for the [Trade Tariff Categorisation API](https://api.trade-tariff.service.gov.uk/the-commodities-api.html).

## 4\. Categorisation

Use the Trade Tariff Categorisation API to retrieve any 'category assessments' that may be applicable to the trader’s goods.

### Windsor Framework

Under the Windsor Framework, reduced data requirements have been agreed for the majority of goods movements using the Simplified Process for Internal Market Movements (SPIMM).

Certain types of goods are excluded and may not be suitable for movement using SPIMM. These goods are referred to as Category 1 goods.

Other goods may be controlled and require additional commodity code detail to use the SPIMM. These goods are referred to as Category 2 goods.

### SPIMM

Any goods not classed as category 1 or 2 are standard goods. Standard goods can benefit from SPIMM with the reduced data requirements. The TGP data model calls standard goods 'category 3'.

### Categorisation result

When the trader has been shown all the applicable category assessments, a category for the trade can be determined.

If the trader was able to exempt all assessments, then the trade is likely to be of standard goods. If the trader was not able to exempt all assessments, then the category will be 1 or 2 depending on the trade.

You can find out more information about categorisation on the [Trade Tariff Categorisation API pages](https://api.trade-tariff.service.gov.uk/green-lanes.html).

## 5\. Measurement unit

The Trade Tariff commodities API may return a measurement unit for the provided commodity code. The trader can populate a supplementary unit quantity for their goods record. Traders will benefit from this if the quantity rarely changes on their movements.

## 6\. Creating a goods record

Once the trader enters this information, your software can use the 'Create a goods record' endpoint to add the record to the trader’s TGP.

Refer to the [API specification](https://developer.qa.tax.service.gov.uk/api-documentation/docs/api/service/trader-goods-profiles/1.0/oas/page) for more information on this endpoint.
