---
title: Trader Goods Profile (TGP) Service API overview
weight: 10
---

# Trader Goods Profile (TGP) Service API overview
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSFTCWZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<%= partial 'documentation/partials/google_tag_manager_js' %>
<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes. As the API is in development, future updates for additional endpoints and a testing environment will be published by the end of May.
</div>

Trader Goods Profile (TGP) supports UK Internal Market Scheme (UKIMS) registered traders moving goods from Great Britain to Northern Ireland that are not-at-risk of moving into the European Union.

TGP is accessible to traders and authorised intermediaries through an API. TGP will store goods information allowing traders or intermediaries to use the information to create H8 declarations.

TGP will store information about goods moving from Great Britain to Northern Ireland. TGP can be queried via the API to help populate the H8 dataset on an Internal Market Movement Information (IMMI) form.

The TGP API must use the Trade Tariff [commodities API][COMMODITIES_API] and [categorisation API][GREEN_LANES_API] to retrieve and store information relevant to a goods movement.

## TGP API overview

The TGP APl uses REST principles with endpoints. The endpoints return data in JSON format and uses standard HTTP error response codes.

Your users can use the TGP APIs to:

- create a TGP record
- update a TGP record
- remove a TGP record
- get TGP records

[COMMODITIES_API]: https://api.trade-tariff.service.gov.uk/the-commodities-api.html
[GREEN_LANES_API]: https://api.trade-tariff.service.gov.uk/green-lanes.html
