---
title: Trader Goods Profile (TGP) Service API overview
weight: 10
---

# Trader Goods Profile (TGP) Service API overview

<div class="govuk-inset-text">
This API is in Alpha and may have breaking changes.
</div>

Trader Goods Profile (TGP) supports UK Internal Market Scheme (UKIMS) registered traders moving goods from Great Britain to Northern Ireland that are not-at-risk of moving into the European Union.

TGP is accessible to traders and authorised intermediaries through an API. TGP will store goods information allowing traders or intermediaries to use the information to create declarations.

## TGP API overview

The TGP APl uses REST principles with endpoints. The endpoints return data in JSON format and uses standard HTTP error response codes.

Your users can use the TGP APIs to:

- create a TGP record
- update a TGP record
- update trader details
- remove a TGP record
- get TGP records
